/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Raleway:wght@200&display=swap');

/* Asterisk style selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

/* Header */

header {
    background-color: #A9A29C;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Libre Baskerville', sans-serif;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
}

#menu {
    list-style-type: none;
    letter-spacing: 4px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #333333;
}

/* Navigation bar styling with dropdown */

nav {
    position: absolute;
    background-color: #A9A29C;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Section */

section {
    background-color: #D5CCC7;
    /* Push footer down */
    flex: 1 0 auto;
    margin-top: 71.5px;
}

/* Youtube embedded link on the home page */

.youtube-video {
    aspect-ratio: 16/9;
    width: 100%;
}

/* flexbox container */
.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

}

.container h1,
h2 {
    padding: 20px;
}

/* Home page image under the listen now icons */
.home-image {
    width: 80%;
    color: #333333;
    opacity: 0.4;
    margin-top: 10px;
}


/* Streaming icons */
#streaming-platforms {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#streaming-platforms i {
    font-size: 180%;
    padding: 5%;
    color: #333333;
}

#streaming-platforms i:hover {
    color: #A9A29C;
    transform: scale(1.2);
    transition-duration: 0.5s;
}

/* Become the member button */

button {
    padding: 10px;
    border-radius: 20px;
    color: #333333;
    background-color: #D5CCC7;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.join-button {
    margin-top: 20px;
}

button:hover {
    background-color: #333333;
    color: #D5CCC7;
    cursor: pointer;
    transition-duration: 0.5s;
}


/* bottom text xnaavii 2023 */

#bottom-text {
    bottom: 0;
    position: relative;
}

/* Footer */

#social-media {
    background-color: #A9A29C;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 180%;
    padding: 5%;
    color: #333333;
}

/* About us Page */

/* Icons with text and clickable circles for about us page*/

#about-icons {
    text-align: center;
    list-style-type: none;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#about-icons i {
    font-size: 180%;
    color: #333333;
    border: 1px solid black;
    border-radius: 200px;
    padding: 20px;
    margin: 10px;
}

/* Styling icons to have hover effect */

#about-icons i:hover {
    background-color: #333333;
    color: #D5CCC7;
    cursor: pointer;
    transition-duration: 1s;
}

#about-icons a {
    text-decoration: none;
    color: #333333;
}

#about-icons a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* About us text */

#about-us-text {
    margin: 5%;
    text-align: center;
}

/* Register/Log In Page */

form {
    text-align: center;

}

/* Register field  */
.input-field {
    background-color: transparent;
    margin: 5px;
    padding: 5px;
    border: 1px solid #333333;
    border-radius: 200px;
    display: block;
}

.signup-button {
    background-color: #D5CCC7;
    margin: 5px;
    padding: 5px;
    border: 2px solid #333333;
    border-radius: 200px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #333333;
    color: #D5CCC7;
    cursor: pointer;
    transition-duration: 0.5s;
}

/* Media query for tablets and larger devices (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */

    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin-left: 0.5rem;
    }

    /* Section content */

    section {
        /* Push section down so that it's not under header */
        margin-top: 107px;
    }
}

/* Media query for smaller laptops (992px and higher) */
@media screen and (min-width: 992px) {

    /* Nav links */
    #menu a:hover {
        border-bottom: 1px solid #333333;
    }
}